button,
input[type="submit"] {
    color: $secondary;
    font-family: 'Courier New', Courier, monospace;
    background: #fff;
    border: 1px solid $secondary;
    position: relative;
    cursor: pointer;
    text-align: center;
    padding: 15px 20px;

    &:hover {
        background: none;

        &:after {
            position: absolute;
            content: '';
            z-index: -1;
            height: 100%;
            width: 100%;
            background: $primary;
            left: 5px;
            top: 5px;
        }
    }

    &:disabled {
        background: lightgray;
        color: var(--gray);
    }
}

button.square {
    aspect-ratio: 1 / 1;
    width: 25px;
    padding: 0;
}