$gray: #333;
$orange: #f77c09;
$blue: #00b8ff;

$primary: $blue;
$secondary: $gray;
$gray-light: lighten($primary, 40%);

$screen-xl: 1400px;
$screen-l: 1100px;
$srceen-m: 767px;
$srceen-s: 540px;
$screen-xs: 340px;